/* GENERAL */
*{
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'merriweather',serif;
}

p {
    font-family: 'open sans', sans-serif;
}

/* CONTAINER 1 > NAVEGADOR Y MENU HAMBURGUESA */
.menIcon {
    padding:.5rem;
}

.svgIcon-use {
    cursor: pointer;
    width: auto;
    height: 3rem;
}

.navbar-brand.logo-desk {
    display:none
}

.nav-icons {
    margin-right:.5rem;
}

.bookm-scroll-sm ul {
    padding-left:0;
    display:flex;
    color: gray;
    list-style:none;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:.9rem;
    cursor:pointer;
}

.bookm-scroll-sm ul svg {
    display:block;
    width:fit-content;
}

.bookm-scroll-lg {
    display:none;
}

.full-menu {
    display:none;
}

.navbar-toggler {
    border-style:none!important;
    outline: none;
}

.navbar-nav {
    padding-left:2rem;
    height: 100%;
}

.line-break {
    border-top: 1px solid rgb(180, 180, 180)!important;
}

.media {
    margin-top:2rem;
}

.profile img {
    border-radius: 50%;
}

#member {
    text-decoration:none;
    color: darkgreen!important;
}

.nav-item {
    font-size:.9rem;
    margin-top:1rem;
    margin-bottom:.9rem;
}

.media-body p {
    margin-top:.5em;
    line-height: .5;
}


/* HEADER */
.article-cover {
    
}

#header-card-3 {
    display:none;
}

.btn .btn-link {
    color:darkgreen!important;
}

/* MAIN */
.row {
    justify-content:center;
}

.card {
    border: none;
}

.news-cover {
    background-color: #D7EFEE;
    width:100%;
    padding-top:1.5rem;
    padding-bottom:.5rem;
}

.popular-cover {
    background-color: white;
    width:100%;
    padding-top:2rem;
    padding-bottom:.5rem;
}

.block {
    display:flex;
    align-items: flex-end;
    width: 100%;
    height:100px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
    padding-left:1rem;

}

#category {
    font-size:.9rem;
    font-weight: 600;
    line-height:1.2;
    padding-top:1%;
    color: gray;
}

#who {
    justify-content: flex-start;
    align-items:flex-end;
    height:1rem;
}

#author, #autsor, #source {
    align-items:flex-end;
    font-size:.6rem;
    font-weight: 600;
    line-height:.5;
    text-decoration: none;
    color:black;
}

#time {
    justify-content: flex-start;
    align-items:flex-end;
    height:1rem;
}

#time p {
    align-items:flex-end;
    font-size:.6rem;
    font-weight: 600;
    line-height:.5;
    text-decoration: none;
    color:gray;
}

#card-footer {
    justify-content: center;
}

#foot-icons {
    justify-content: center;
    width:100%;
    height:auto;
}

#card-title {
    font-size:1rem;
    font-weight:600;
    line-height: 1rem;
}

.list-group-item {
    border:none;
    padding:none;
}

.list-num {
    font-size: 3rem;
    color: lightgray;
    text-align: center;
    margin-right: 1rem;
}


/* RESPONSIDIVDAD DESK - TAMAÑO MÍNIMO: 576PX */
/* ES 576 PORQUE ES EL TAMAÑO MÍNIMO DEL CONTENEDOR DESK */


@media only screen and (min-width:576px) {
    .navbar-brand.logo-mob {
        display:none;
    }
    
    .bookm-scroll-sm {
        display:none;
    }
    
    .bookm-scroll-lg ul {
        padding-left:0;
        display:flex;
        color: gray;
        list-style:none;
        flex-direction: row;
        justify-content: space-evenly;
        font-size:.9rem;
        cursor:pointer;
    }
    
    .bookm-scroll-lg ul svg {
        display:block;
        width:fit-content;
    }

    .hamb {
        display:none;
    }
    
    .nav.nav-icons {
        display:none;
    }

    .custom-navbar{
        width:75%
    }
}